@import '@fontsource/fira-mono';

:root {
	/* colors */
	--white: #ffffff;
	--primary-color: #073163;
	--primary-tr-1: hsla(212, 88%, 29%, 0.8);
	--primary-tr-2: hsla(202, 68%, 36%, 0.07);
	--accent-color: #f5da4e;
	--accent-tr-1: hsla(50, 89%, 63%, 0.6);
	--accent-tr-2: hsla(50, 89%, 63%, 0.25);
	--neutral-color: #e5e5e5;
	--neutral-light: #f2f2f2;

	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);

	/* fonts */
	--font-main: 'Source Sans Pro', sans-serif;

	/* text sizes */
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 32px;
	--text-4xl: 48px;
	--text-5xl: 56px;
	--text-6xl: 64px;
	--text-7xl: 85px;
	--text-8xl: 96px;
	--text-9xl: 118px;
	--text-10xl: 144px;
	--text-11xl: 156px;

	/* radii */
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;
	--radius-xl: 48px;
	--radius-rounded: 999px;

	/* sizes */
	--circle-med: 40px

	/* spacing */
	--space-xs: 2px;
	--space-sm: 4px;
	--space-md: 8px;
	--space-lg: 16px;
	--space-xl: 20px;
	--space-2xl: 24px;
	--space-3xl: 48px;
	--space-4xl: 64px;
	--space-5xl: 70px;

	/* viewport-spacing */
	--vp-sm: 2.5vh;
	--vp-md: 5vh;
	--vp-lg: 9vh;
	--vp-xl: 13vh;

	  /* bezier curves */
  --smooth: cubic-bezier(0.115, 0.905, 0.32, 1);
  --punchitchewy: cubic-bezier(1, 0, 0.115, 0.995);

  /* transitions */
  --transition-1: all 1s var(--punchitchewy);
  --transition-2: all .6s var(--punchitchewy);
  --transition-3: all 0.3s var(--punchitchewy);
  --transition-4: all 0.1s var(--punchitchewy);
  --transition-1-smooth: all 1s var(--smooth);
  --transition-2-smooth: all .6s var(--smooth);
  --transition-3-smooth: all 0.3s var(--smooth);
  --transition-4-smooth: all 0.1s var(--smooth);

	/* --ROLE BASED TOKENS-- */

	/* text size */
	--text-section-header: 175px;
	--text-section-header-plus: 230px;
	--text-hero: var(--text-7xl);
	--text-hero-plus: var(--text-9xl);
	--text-header: var(--text-3xl);
	--text-header-plus: var(--text-4xl);
	--text-display: var(--text-5xl);
	--text-prose: var(--text-2xl);
}

html {
	scrollbar-width: none;
}
html::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-main);
	letter-spacing: 1px;
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
