@import '@fontsource/fira-mono';

:root {
	/* colors */
	--white: hsl(0, 0%, 100%);
	--dark-cyan: hsl(209, 37%, 23%);
	--dark-cyan-tr1: hsla(209, 37%, 23%, 0.35);
	--dark-cyan-2: hsl(209, 27%, 32%);
	--deep-cyan: hsl(213, 87%, 21%);
	--deep-cyan-tr: hsla(213, 87%, 21%, 0.9);
	--deep-cyan-tr1: hsla(212, 88%, 29%, 0.8);
	--deep-cyan-tr2: hsla(202, 68%, 36%, 0.25);
	--deep-cyan-tr3: hsla(202, 68%, 36%, 0.07);
	--deep-cyan-tr4: hsla(213, 87%, 26%, 0.95);
	--mustard: hsl(50, 89%, 63%);
	--mustard-tr1: hsla(50, 89%, 63%, 0.6);
	--mustard-tr2: hsla(50, 89%, 63%, 0.25);
	--barely-grey: #e5e5e5;
	--barely-grey-tr1: hsla(180, 1%, 75%, 0.1);
	--almost-white: #f2f2f2;

	--light-grey: #b0b0b0;
	--grey: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);

	/* fonts */
	--font-main: 'Source Sans Pro', sans-serif;

	/* text sizes */
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 32px;
	--text-4xl: 48px;
	--text-5xl: 56px;
	--text-6xl: 64px;
	--text-7xl: 85px;
	--text-8xl: 96px;
	--text-9xl: 118px;
	--text-10xl: 144px;
	--text-11xl: 156px;

	/* font-weights */
	--light: 200;
	--body: 400;
	--medium: 500;
	--semibold: 600;
	--bold: 700;

	/* radii */
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;
	--radius-xl: 48px;
	--radius-rounded: 999px;

	/* sizes */
	--circle-lg: 60px;
	--circle-med: 40px;
	--circle-sm: 30px;
	--arrow-lg: 60px;

	/* spacing */
	--space-xs: 2px;
	--space-sm: 4px;
	--space-md: 8px;
	--space-lg: 16px;
	--space-xl: 20px;
	--space-2xl: 24px;
	--space-3xl: 48px;
	--space-4xl: 64px;
	--space-5xl: 70px;

	/* viewport-spacing */
	--vp-sm: 2.5vh;
	--vp-md-sm: 4vh;
	--vp-md: 5vh;
	--vp-lg: 9vh;
	--vp-xl: 15vh;
	--vp-2xl: 18vh;
	--vp-3xl: 27vh;

	/* z-indeces */
	--base-two: -200;
	--base-one: -100;
	--ground: auto;
	--level-one: 100;
	--level-two: 200;
	--level-three: 300;
	--level-four: 400;
	--level-five: 500;
	--level-six: 600;
	--level-seven: 700;
	--level-eight: 800;
	--level-nine: 900;
	--level-top: 9999;

	/* bezier curves */
	--smooth: cubic-bezier(0.115, 0.905, 0.32, 1);
	--punchitchewy: cubic-bezier(1, 0, 0.115, 0.995);

	/* transitions */
	--transition-1: all 1s var(--punchitchewy);
	--transition-2: all 0.6s var(--punchitchewy);
	--transition-3: all 0.3s var(--punchitchewy);
	--transition-4: all 0.1s var(--punchitchewy);
	--transition-1-smooth: all 1s var(--smooth);
	--transition-2-smooth: all 0.6s var(--smooth);
	--transition-3-smooth: all 0.3s var(--smooth);
	--transition-4-smooth: all 0.1s var(--smooth);

	/* --ROLE BASED TOKENS-- */

	/* colors */
	--text-color: var(--dark-cyan);
	--primary-color: var(--deep-cyan);
	--primary-tr1: var(--deep-cyan-tr1);
	--primary-tr2: var(--deep-cyan-tr2);
	--primary-tr3: var(--deep-cyan-tr3);
	--accent-color: var(--mustard);
	--accent-tr1: var(--mustard-tr1);
	--accent-tr2: var(--mustard-tr2);
	--neutral-color: var(--barely-grey);
	--neutral-light: var(--almost-white);

	/* text size */
	--text-hero: var(--text-7xl);
	--text-hero-plus: var(--text-9xl);
	--text-header-sm: 36px;
	--text-header: var(--text-3xl);
	--text-header-plus: var(--text-4xl);
	--text-display: var(--text-5xl);
	--text-prose: var(--text-2xl);

	/* spacing */
	--title-margin: var(--space-lg);
	--mobile-sec-margin: var(--vp-xl);
}

@media (max-width: 1460px) {
	:root {
		--text-hero: var(--text-6xl);
		--text-hero-plus: var(--text-8xl);
		--text-header: var(--text-2xl);
		--text-header-plus: var(--text-3xl);
		--text-display: var(--text-4xl);
		--text-prose: var(--text-xl);
	}
}

@media (max-width: 1025px) {
	:root {
		--text-hero: var(--text-6xl);
		--text-hero-plus: var(--text-8xl);
		--text-header: var(--text-2xl);
		--text-header-plus: var(--text-3xl);
		--text-display: 40px;
		--text-prose: var(--text-xl);
	}
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth;
	letter-spacing: 1px;
}
html::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-main);
	letter-spacing: 1px;
	min-height: 100vh;
	height: max-content;
	margin: 0;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	position: relative;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

ul,
li {
	padding-inline-start: 0;
	list-style: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	/* padding: 0 !important; */
	font-size: inherit;
	font-family: inherit;
}

input,
textarea {
	padding: 0 var(--space-lg);
	border: none;
	background-color: var(--barely-grey);
	border-radius: var(--radius-sm);
}
input::placeholder,
textarea::placeholder {
	color: var(--light-grey);
}
input:focus,
textarea:focus {
	/* color: var(--light-grey); */
	background-color: var(--white);
	border: 1px solid var(--light-grey);
	outline: 1px solid var(--light-grey);
	color: var(--light-grey);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
